@page "/carousel"

<!-- Carousel wrapper -->
<div
  id="carouselMultiItemExample"
  class="carousel slide carousel-dark text-center"
  data-mdb-ride="carousel"
>
  <!-- Controls -->
    <div class="d-flex justify-content-center mb-4">
        <a class="carousel-control-prev" href="#carouselMultiItemExample" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselMultiItemExample" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


  <!-- Inner -->
    <div class="carousel-inner py-4">
        <!-- Single item -->

        @{
            string active = "active";
        }

        @for (var row = 0; row < cards.Length / 3; row++)
        {
            <div class="carousel-item @active">
                <div class="container">
                    <div class="row">


                        @for (var col = 0; col < 3; col++)
                        {
                            MealCard meal = cards[row * 3 + col];
                            <div class="col-lg-4">
                                <div class="card">
                                    <img src="@meal.image"
                                         class="card-img-top"
                                         alt="..." />
                                    <div class="card-body">
                                        <p class="card-title">@meal.titel</p>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
            active = "";
        }


    </div>
  <!-- Inner -->
</div>
<!-- Carousel wrapper -->




@code {
    private class MealCard
    {
        public string image;
        public string titel;
        public MealCard(string i, string t)
        {
            image = i;
            titel = t;
        }
    }


    private static MealCard[] cards = {
        new MealCard("https://mdbootstrap.com/img/new/standard/nature/181.jpg", "Pasta Kødsovs"),
        new MealCard("https://mdbootstrap.com/img/new/standard/nature/182.jpg", "Pizza"),
        new MealCard("https://mdbootstrap.com/img/new/standard/nature/183.jpg", "Burger"),
        new MealCard("https://mdbootstrap.com/img/new/standard/nature/184.jpg", "Pasta Kødsovs"),
        new MealCard("https://mdbootstrap.com/img/new/standard/nature/185.jpg", "Pizza"),
        new MealCard("https://mdbootstrap.com/img/new/standard/nature/186.jpg", "Burger"),
        new MealCard("https://mdbootstrap.com/img/new/standard/nature/187.jpg", "Pasta Kødsovs"),
        new MealCard("https://mdbootstrap.com/img/new/standard/nature/188.jpg", "Pizza"),
        new MealCard("https://mdbootstrap.com/img/new/standard/nature/189.jpg", "Burger"),
          new MealCard("https://mdbootstrap.com/img/new/standard/nature/190.jpg", "Pasta Kødsovs"),

    };

    // Mealcard carousel end
    protected async override void OnInitialized()
    {
        
    }

}
