<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>404 Error. Sorry we don't have anything here. You can start over from the <NavLink href="/">frontpage</NavLink></p>
        </LayoutView>
    </NotFound>
</Router>
