@inherits LayoutComponentBase


<div class="main" style="background-color: var(--MainBg); z-index: 1; position: relative">
    <div style="z-index: 3; position: relative">
        @Body
    </div>
</div>
