@inherits LayoutComponentBase
<div class="main position-relative" style="background-color: var(--MainBg);">
    <img class="position-absolute" style="margin-left: 50%; transform: translateX(-50%);" src="/assets/bgIcons.png">
    <div class="content px-4">
        <h1 class="text-center mb-5">Food Like</h1>
        @Body
    </div>
</div>

