@inherits LayoutComponentBase
<div class="main position-relative" style="background-color: var(--MainBg);">
    <img class="position-absolute" src="/assets/bgIcons.png" width="100%">
    <div class="content px-4">
        <h1 class="text-center mb-5">Food Like</h1>
        @Body
    </div>
</div>

