@inherits LayoutComponentBase

<div class="main" style="background-color: var(--MainBg); background-image: url('/assets/bgIcons.png'); background-repeat: repeat-x; ">
    <div class="content px-4">
        <h1 class="mb-5 text-center">Food Like</h1>
        @Body
    </div>
</div>

