@inherits LayoutComponentBase

<style>

   

</style>

<div class="main" style="background-image: url('/assets/Vector3.png'); background-color: var(--MainBg); background-repeat: no-repeat; position: ">
    <div class="content px-4">
        <h1 class="mb-5 text-center">Food Like</h1>
        @Body
    </div>
</div>
